//  ============================================================================================================
//  Main styles for the Home page
//  ============================================================================================================

// Block containing the introduction
.p-intro{
    display:block;
    width:100%;
    height: 70vh; // 70% height 
}

// Container for the design and development blocks
.p-split-container{
    width:100%;
    height: 30vh; // Along with the intro block this keeps everything in the viewport no matter size
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    &__column{
        width:50%;
    }
}