//  ============================================================================================================
//  Reusable container l = layout
//  ============================================================================================================

.l-container{
    max-width: $global-max-width;
    display:block;
    margin:0px auto;
}