.c-btn{

    
    // Specific styles for back to top buttin
    &--scrollToTop{
        display:none;
        position:fixed;
        bottom:0;
        right:0;
    }

    // Data att added when users scrolls 40% down the page
    &[data-show]{
        display:block;
    }
}

